.card {
  width: 40vw;
  display: flex;
  flex-direction: column;
  height: 35vh;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 1rem;
  &:hover {
    transform: translateY(-5px) rotateX(2deg) rotateY(2deg);
  }
}
.card-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  padding: 1rem;
  a {
    text-decoration: none;
  }
}
.card-status {
  display: flex;
  justify-content: space-between;
}
.container {
  width: 98vw;
}
.progress {
  background-color: $red;
  overflow: visible;
  color: black;
}
