.navbar {
  justify-content: space-between;
  background: rgb(55, 55, 55);
  .navbar-collapse {
    flex-grow: 0;
  }
  .navbar-brand img {
    width: 40px;
  }
  .nav-link {
    color: white;
  }
}

