.profile-pic-area {
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info {
  display: flex;
  flex-direction: column;
  .details {
    display: flex;
    flex-direction: row;
    margin-bottom: 8px;
    justify-content: space-between;
    align-items: flex-start;
  }

  .form-group {
    margin-bottom: 1rem;
  }

  .form-actions {
    margin-top: 1rem;
  }

  .edit,
  .delete {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;

    p {
      margin: 0;
    }
  }

  .delete {
    margin-top: 16px;
  }
}

.logout-btn {
  margin-top: 50px;
}
