<!DOCTYPE html>
<html>
  <body>
    <h1>Daily Exercise Reminder</h1>
    <p>Hello <%= @user.username %>,</p>
    <p>Don't forget to complete your exercises for today! Keep pushing towards your goals.</p>
    <p>Best,<br>LevelUp Team</p>
  </body>
</html>
